apache-airflow-providers-apache-spark==3.0.0
apache-airflow-providers-facebook==3.1.0
apache-airflow-providers-github==2.2.1
apache-airflow-providers-jdbc==3.3.0
apache-airflow-providers-jenkins==3.2.0
apache-airflow-providers-microsoft-mssql==3.3.2
apache-airflow-providers-odbc==3.2.1
apache-airflow-providers-sqlite==3.3.1
apache-airflow-providers-ssh==3.5.0
apache-airflow-providers-tableau==4.1.0
azure-common==1.1.28
azure-core==1.26.3
azure-cosmos==4.3.1
azure-datalake-store==0.0.52
azure-identity==1.12.0
azure-storage-blob==12.15.0
azure-storage-common==2.1.0
azure-storage-file-datalake==12.10.1
azure-synapse-spark==0.7.0
beautifulsoup4==4.12.0
gcloud-aio-auth==4.2.0
gcloud-aio-bigquery==6.3.0
gcloud-aio-storage==8.1.0
google-ads==18.0.0
google-api-core==2.8.2
google-api-python-client==1.12.11
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-auth==2.17.1
google-cloud-bigquery-datatransfer==3.7.0
google-cloud-bigquery-storage==2.14.1
google-cloud-bigquery==2.34.4
google-cloud-bigtable==2.11.1
google-cloud-core==2.3.2
google-cloud-datacatalog==3.9.0
google-cloud-dataflow-client==0.5.4
google-cloud-dataproc-metastore==1.6.0
google-cloud-dataproc==5.0.0
google-cloud-memcache==1.4.1
google-cloud-orchestration-airflow==1.4.1
google-cloud-pubsub==2.13.5google-cloud-storage==2.8.0
hdfs
mysql-connector-python==8.0.32
mysqlclient==2.1.1
numpy
openpyxl
pandas
pyodbc
psycopg2-binary==2.9.5
psycopg2==2.9.5
pyspark==3.3.1
redshift-connector==2.0.910
regex
requests
responses
sqlalchemy==1.4
