apache-airflow-providers-apache-spark==4.1.0
apache-airflow-providers-facebook==3.2.0
apache-airflow-providers-github==2.3.0
apache-airflow-providers-jdbc==3.4.0
apache-airflow-providers-jenkins==3.3.0
apache-airflow-providers-microsoft-mssql==3.4.0
apache-airflow-providers-odbc==3.3.0
apache-airflow-providers-sqlite==3.4.1
apache-airflow-providers-ssh==3.7.0
apache-airflow-providers-tableau==4.2.0
# Azure
azure-common==1.1.28
azure-core==1.27.1
azure-cosmos==4.4.0
azure-datalake-store==0.0.53
azure-identity==1.13.0
azure-keyvault-secrets==4.7.0
azure-kusto-data==0.0.45
azure-mgmt-containerinstance==1.5.0
azure-mgmt-core==1.4.0
azure-mgmt-datafactory==1.1.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==23.0.1
azure-nspkg==3.0.2
azure-servicebus==7.11.0
azure-storage-blob==12.16.0
azure-storage-common==2.1.0
azure-storage-file-datalake==12.11.0
azure-storage-file==2.1.0
azure-synapse-spark==0.7.0
#GCP
gcloud-aio-auth==4.2.1
gcloud-aio-bigquery==6.3.0
gcloud-aio-storage==8.2.0
google-ads==21.2.0
google-api-core==2.11.0
google-api-python-client==2.89.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-auth==2.20.0
google-cloud-aiplatform==1.26.
google-cloud-bigquery-datatransfer==3.11.1
google-cloud-bigquery-storage==2.20.0
google-cloud-bigquery==3.11.1
google-cloud-bigtable==2.19.0
google-cloud-build==3.16.0
google-cloud-compute==1.11.0
google-cloud-container==2.24.0
google-cloud-core==2.3.2
google-cloud-datacatalog==3.13.0
google-cloud-dataflow-client==0.8.3
google-cloud-dataform==0.5.1
google-cloud-dataplex==1.5.0
google-cloud-dataproc-metastore==1.11.0
google-cloud-dataproc==5.4.1
google-cloud-memcache==1.7.1
google-cloud-orchestration-airflow==1.9.0
google-cloud-pubsub==2.17.1
google-cloud-storage==2.9.0
hdfs==2.7.0
mysql-connector-python==8.0.32
mysqlclient==2.1.1
numpy
openpyxl
pandas
pyodbc
psycopg2-binary==2.9.5
psycopg2==2.9.5
pyspark==3.4.0
redshift-connector==2.0.911
regex
requests
responses
SQLAlchemy==1.4.48
beautifulsoup4==4.12.2
